<div class="element @GetClasses()" style=@GetStyles() @onclick=Clicked>
	<div class="front">
		<div class="atomic-number">
			@if (State.Front.ShowAtomicNumber)
			{
				@Data.AtomicNumber
			}
		</div>
		<div class="symbol">
			@if (State.Front.ShowSymbol)
			{
				@Data.Symbol
			}
		</div>
		<div class="name">
			@if (State.Front.ShowName)
			{
				@Data.Name
			}
		</div>
	</div>
	<div class="back">
		<div class="atomic-number">
			@if (State.Back.ShowAtomicNumber)
			{
				@Data.AtomicNumber
			}
		</div>
		<div class="symbol">
			@if (State.Back.ShowSymbol)
			{
				@Data.Symbol
			}
		</div>
		<div class="name">
			@if (State.Back.ShowName)
			{
				@Data.Name
			}
		</div>
	</div>
</div>